* {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #ffff;
}

a {
    text-decoration: none;
    color: #f7d354;
    transition: .5s;
}

a:hover {
    color: #b8930c;
}

.footer {
    font-size: 18px;
    color: #f7d354;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}

@media (max-width: 760px) {
    #navbar {
        display: flex;
        flex-direction: column;
    }
    #navbar input {
        margin-top: .5rem;
        margin-left: 1.3rem;
    }
    .movies-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .movie-card {
        width: auto;
        box-sizing: content-box;
        
    }
    .footer {
        text-align: center;
    }
    
}


